@import "reset.css";
.default-padding {
    width: calc(100% - (16px*2));
    padding-left: 16px;
    padding-right: 16px;
}

.button {
    transition: 250ms;
    border-radius: 8px;
    padding: 8px;
    box-sizing: border-box;
    border: 2px transparent solid;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.10);
}

.button-outlined {
    transition: 250ms;
    background-color: rgba(255, 255, 255, 0.25);
    border: 2px rgba(255, 255, 255, 0.35) solid;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
}

.button-outlined:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px rgba(255, 255, 255, 0.25) solid;
}

.navbar {
    background-color: white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.35);
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
    position: fixed;
}

.navbar .logo {
    padding-right: 8px;
    font-size: 1.6em;
}

.navbar ul {
    display: flex;
    flex-direction: row;
}

.navbar li {
    height: 38px;
    padding: 0px 16px;
    margin: 0px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.navbar li:first-child {
    margin-left: 0px;
}

.navbar li:last-child {
    margin-right: 0px;
}

.navbar li>a {
    text-decoration: none;
    color: black;
}