@import "reset.css";
.default-padding {
    width: calc(100% - (16px*2));
    padding-left: 16px;
    padding-right: 16px;
}

.content-padding {
    width: calc(100% - (16px*2));
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.button {
    background-color: white;
    transition: 250ms;
    border-radius: 8px;
    padding: 8px;
    box-sizing: border-box;
    border: 2px transparent solid;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.10);
}

.button-outlined {
    transition: 250ms;
    background-color: rgba(255, 255, 255, 0.10);
    border: 2px rgba(255, 255, 255, 0.35) solid;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
}

.button-outlined:hover {
    background-color: rgba(255, 255, 255, 0.35);
    border: 2px rgba(255, 255, 255, 0.25) solid;
}

.card {
    transition: 250ms;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.card:hover {
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.25);
}

.navbar {
    width: calc(100% - (16px));
    padding-right: 0px;
    background-color: white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.35);
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
    position: fixed;
}

.navbar .logo {
    padding-right: 8px;
    font-size: 1.6em;
    z-index: 6;
}

.navbar .logo img {
    height: 100%;
}

.navbar ul {
    display: flex;
    flex-direction: row;
}

.navbar li {
    height: 38px;
    padding: 0px 16px;
    margin: 0px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.navbar li:first-child {
    margin-left: 4px;
    /* Desktop: 0px */
}

.navbar li:last-child {
    margin-right: 4px;
    /* Desktop: 0px */
}

.navbar li>a {
    text-decoration: none;
    color: black;
}

.drawer {
    display: flex;
    align-items: center;
    padding: 16px 16px;
    height: 56px;
}

.drawer i {
    z-index: 7;
}

.drawer .drawer-menu {
    transition: 250ms;
    background-color: white;
    top: -128px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0);
    right: 0;
    width: 100%;
    position: absolute;
}

.drawer:hover .drawer-menu {
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.15);
    top: 56px;
}

.drawer .drawer-menu ul {
    padding: 8px 12px 16px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
}

.drawer:hover .drawer-menu ul {
    visibility: visible;
}

.drawer .drawer-menu li {
    color: transparent;
}

.drawer:hover .drawer-menu li {
    color: black;
}

.hero {
    height: 80vh;
    width: 100%;
    position: relative;
}

.image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgb(0, 60, 113);
    background: linear-gradient(0deg, rgba(0, 60, 113, 1) 0%, rgba(142, 224, 230, 0) 100%);
}

.hero>img {
    filter: brightness(60%);
    height: 80vh;
    width: 100%;
    object-fit: cover;
    object-position: 35% 50%;
}

.hero>div {
    bottom: 88px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero>div>h1 {
    color: white;
    font-size: 3em;
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.3);
}

.hero>div>p {
    margin-top: 16px;
    color: white;
    font-size: 1em;
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.3);
}

.hero>div>button {
    color: white;
    margin-top: 24px;
    font-size: 1em;
    line-height: 1.3;
    backdrop-filter: blur(16px) saturate(200%) brightness(70%);
}

.grid-container {
    padding-top: 24px;
    width: 100%;
    display: grid;
    gap: 16px;
}

.grid-container .card {
    cursor: pointer;
}

.grid-container .card img {
    width: 100%;
    height: calc(100%*(9/16));
    object-fit: cover;
    object-position: top;
}

.grid-container .card>div {
    width: 100%;
    height: calc(100%*(7/16));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}

.grid-container .card h1 {
    padding: 16px 16px 4px;
    font-size: 1.2em;
    font-weight: bold;
}

.grid-container .card p {
    font-size: 1em;
    padding: 0px 16px;
}

.grid-1 {
    grid-template-columns: 1fr;
}

.grid-1 .card {
    height: 260px;
}

.insert-section {
    /* background-color: rgba(0, 0, 0, 0.10); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.insert-section>div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.insert-section button {
    font-size: 1em;
}

.insert-section button:hover {
    background-color: white;
}

.insert-section h1 {
    font-size: 1.6em;
}

.insert-section p {
    font-size: 1em;
}

.grid-2 {
    padding-bottom: 24px;
    grid-template-columns: 1fr 1fr;
}

.grid-2 .card {
    height: 20vh;
}

.grid-2 .card img {
    height: calc(100%*(2/3));
}

.grid-2 .card>div {
    height: calc(100%*(1/3));
    align-items: center;
    justify-content: center;
}

#footer {
    margin-top: 0px;
    padding-bottom: 24px;
    /* height: 400px; */
    background-color: rgba(0, 60, 113, 1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

#footer h2 {
    color: white;
    font-size: 1.6em;
    margin-bottom: 16px;
}

#footer p {
    color: white;
    font-size: 1em;
    line-height: 1.6;
}

.contact {
    padding-top: 24px;
    height: calc(100% - 24px);
}

.sitemap {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
}

.sitemap h2 {
    color: white;
}

.sitemap a {
    text-decoration: none;
    color: white;
}

.sitemap .button {
    background-color: transparent;
    padding-left: 0px;
    padding-right: 0px;
}

.sitemap .button:hover {
    background-color: rgba(255, 255, 255, 0.10);
}

#credit {
    background-color: rgba(0, 60, 113, 1);
    color: white;
    text-align: center;
}

@media only screen and (min-width: 1200px) {
    .default-padding {
        width: calc(100% - (20vw*2));
        padding-left: 20vw;
        padding-right: 20vw;
    }
    .content-padding {
        width: calc(100% - (20vw*2));
        padding-left: 20vw;
        padding-right: 20vw;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .drawer .drawer-menu {
        padding-right: 20vw;
    }
}

@media only screen and (min-width: 768px) {
    .navbar li:first-child {
        margin-left: 0px;
    }
    .navbar li:last-child {
        margin-right: 0px;
    }
    .hero>img {
        object-position: center;
    }
    .hero>div>h1 {
        font-size: 4em;
    }
    .hero>div>p {
        font-size: 1.2em;
    }
    .hero>div>button {
        font-size: 1.2em;
    }
    .drawer .drawer-menu {
        transition: 0ms;
        top: 0px;
        right: 0;
        width: fit-content;
        position: absolute;
    }
    .drawer:hover .drawer-menu {
        box-shadow: 1px 4px 4px rgba(0, 0, 0, 0);
        top: 0px;
    }
    .drawer .drawer-menu ul {
        height: 56px;
        padding: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        visibility: visible;
    }
    .drawer i {
        z-index: 7;
        display: none;
    }
    .grid-container {
        display: grid;
        gap: 16px;
    }
    .grid-container .card h1 {
        padding: 8px 8px 4px;
        font-size: 1em;
    }
    .grid-container .card p {
        font-size: 1em;
        padding: 0px 8px 8px
    }
    .grid-container .card img {
        height: calc(100%*(9/21));
    }
    .grid-container .card>div {
        height: calc(100%*(12/21));
    }
    .grid-1 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .grid-1 .card {
        height: 20vh;
    }
    .grid-2 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .grid-2 .card img {
        height: calc(100%*(2/3));
    }
    .grid-2 .card>div {
        height: calc(100%*(1/3));
    }
    .insert-section button {
        font-size: 1em;
    }
    .insert-section h1 {
        font-size: 2.4em;
    }
    .insert-section p {
        font-size: 1em;
    }
    #footer {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    .sitemap {
        display: flex;
        flex-direction: column;
        text-align: right;
        justify-content: right;
    }
}